<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/assets/css/vendor/foundation.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/assets/css/vendor/animate.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/assets/css/vendor/animate.delay.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/assets/css/login.min.css")" rel="stylesheet" />
    <script src="@Url.Content("~/assets/js/vendors/jquery-2.0.3.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/js/SimDms.core.js")" type="text/javascript"></script>

    <link href="@Url.Content("~/assets/css/common.min.css")" rel="stylesheet" />
    <script src="@Url.Content("~/assets/js/vendors/angular/angular.all.js")"></script>

    <script type="text/javascript">
        SimDms.baseUrl = "@Url.Content("~/")";
    </script>
</head>
<body>
    <div class="page">
        <div class="header">
            <div class="profile">
                <div class="title">
                    Suzuki
                </div>
                <div class="subtitle">
                    @ViewBag.CompanyProfile
                </div>
                <div class="info">
                    Suzuki Dealer Management System
                </div>
                <div class="versioninfo">
                    Version @ViewContext.Controller.GetType().Assembly.GetName().Version
                </div>
            </div>
        </div>
        <div class="body">
            <div class="helpdesk">
                <ul>
                    Perlu bantuan? Hubungi kami di:
                    <li>email: sdms.support@suzuki.co.id</li>
                    <li>phone: (021) 882 8773, (021) 882 3080, (021) 882 0105</li>
                    <li>SDMS Support: <a href="@String.Format("{0}://{1}/osticket", "https", Request.Url.Authority == "tbsdmsap01" ? Request.Url.Authority : "dms.suzuki.co.id")"  target="_blank">https://dms.suzuki.co.id/osticket</a>  </li>
                </ul>
            </div>
        </div>
        @RenderBody()
    </div>
</body>
</html>
